.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    /* border-collapse: collapse; */
    width: 70vw;
  }
  
  th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  
  th {
    background-color: rgba(223, 225, 226, 0.482);
  }
  
  td {
    background-color: rgba(237, 240, 241, 0.253);
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }
  td:hover {
    background-color: rgba(197, 202, 203, 0.403);
    cursor: pointer;
  }

  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 15px;
  }